html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #392db48e;
    color: #6f087a;
    user-select: none; /* blocks user to select any thing on the screen */
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto ;
}
img{
    width: 150px;
    margin: 0 auto;
}
input {
    cursor: pointer;
    color: #af47f4;
    background-color: #71f75c;
    padding: 15px;
    border:0;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button {
    display: block;
    color: #FDFDFD;
    background-color: #d27f20;
    padding: 15px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

ul{ 
    
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px ;
    color:#432000;
    font-weight: bold;
    font-size: large;
}

ul li{
    font-size: larger;
    margin: 5px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

}

#add-button:hover{
    background-color: #432000;
    cursor: pointer;
}

ul li:hover{
    background-color: #d29f37;
    cursor: pointer;
}
input:hover{
    cursor: pointer;
}